:root {
  --primary-color: #CDA922;
}

body {
  width: 1920px;
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam', sans-serif;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3em;
  text-align: center;
  height: 88px;
}

.navbar .container .logo {
  margin: auto 80px;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: unset;
  height: auto;
}

.navbar nav ul {
  margin: 32px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navbar nav a {
  margin-right: 55px;
  padding-bottom: 32px;
  font-size: 16px;
  text-decoration: none;
  text-align: right;
  color: black;
}

.navbar nav .active,
.navbar nav a:hover {
  color: var(--primary-color);
  border-bottom: solid var(--primary-color);
}

.navbar nav #search-bar {
  margin-right: 55px;
  border: 1px solid #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.navbar nav #cart-icon {
  height: 1.3em;
}

.banner {
  height: 700px;
  width: 1920px;
}

.banner img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.banner .title {
  position: absolute;
  top: 160px;
  margin: auto 560px;
  color: #DEB722;
  ;
}

.banner .title h1 {
  text-align: center;
  font-weight: 800;
  font-size: 64px;
}

.banner .title p {
  text-align: center;
  width: 800px;
  font-size: 24px;
}
.features{
  position: absolute;
  z-index: 1200px;
  margin: -240px 351px 16px 351px;
  margin-bottom: 1em;
  vertical-align: middle;
}
.features .features-title{
  list-style-type: none;
  color: white;
  background: var(--primary-color);
  display:flex ;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;

  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.features .features-title li{
  text-align: center;
  margin: 24px 32px;
}
.features .features-title li span{
  font-weight: 700;
  vertical-align: middle;
  font-size: 28px;
}
.features .features-title li img{
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}
.features .features-title li a{
  vertical-align: middle;
  margin-right: 12px;
  color: white;
  text-decoration: none;
}
.features .features-title hr{
  width: 100%;
  margin: auto;
}
.h1{}



