@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');
:root {
  --primary-color: #CDA922;
}

body {
  width: 1920px;
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.navbar .container {
  display: flex;
  
  margin: 0 3em;
  text-align: center;
  height: 88px;
}

.navbar .container .logo {
  margin: auto 80px;
}

.navbar nav {
  position: unset;
  height: auto;
}

.navbar nav ul {
  margin: 32px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  list-style-type: none;
}

.navbar nav a {
  margin-right: 55px;
  padding-bottom: 32px;
  font-size: 16px;
  text-decoration: none;
  text-align: right;
  color: black;
}

.navbar nav .active,
.navbar nav a:hover {
  color: var(--primary-color);
  border-bottom: solid var(--primary-color);
}

.navbar nav #search-bar {
  margin-left: 500px;
  border: 1px solid #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.navbar nav #cart-icon {
  margin-left: 33px;
  height: 1.3em;
}

.banner {
  height: 700px;
  width: 1920px;
}

.banner img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.banner .title {
  position: absolute;
  top: 160px;
  margin: auto 560px;
  color: #DEB722;
}

.banner .title h1 {
  text-align: center;
  font-weight: 800;
  font-size: 64px;
}

.banner .title p {
  font-family: 'Charmonman', cursive;
  text-align: center;
  width: 800px;
  font-size: 44px;
}
.features{
  position: absolute;
  z-index: 1200px;
  margin: -100px 351px 16px 351px;
  margin-bottom: 1em;
  vertical-align: middle;
}
.features .features-title{
  list-style-type: none;
  color: white;
  background: var(--primary-color);
  display:flex ;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;

  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.features .features-title li{
  text-align: center;
  margin: 24px 32px;
}
.features .features-title li span{
  font-weight: 700;
  vertical-align: middle;
  font-size: 28px;
}
.features .features-title li img{
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}
.features .features-title li a{
  vertical-align: middle;
  margin-right: 12px;
  color: white;
  text-decoration: none;
}
.features .features-title hr{
  width: 100%;
  margin: auto;
}
.features .new-food{
  width: 1200px;
  border-radius: 8px;
  padding: 8px 0 24px 0;
  margin-bottom: 16px;
  background: var(--primary-color);
}
.features .list-new-food{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  list-style-type: none;
  gap:16px;
  margin: 24px 24px 0 24px;
  background: var(--primary-color);
}

.features .list-new-food .food-block{
  background: white;
  width: 276px;
  border-radius: 6px;
}
.features .food-short{
  text-align: left;
  margin:10px;
}

.features .food-short a{
  text-decoration: none;
  color: #111111;
  font-weight: 500;
  font-size: 18px;
  vertical-align: top;
}
.features .food-short .food-name{
  margin: 0;
  font-size: 18px;
}
.features .food-short .food-price {
  margin: 0;
  padding: 0;
}
.features .food-short .food-price li{
  list-style-type: none;
  margin: 3px 0px 3px 5px;
  padding: 0px;
  box-sizing: border-box;
}
.features .food-short .food-price li img{
  vertical-align: middle;
  margin-bottom: 4px;
}


.features .list-food{
  width: 1200px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  padding-top: 8px;
  margin-bottom: 16px;
  padding-bottom: 24px;
}
.features .list-features-food{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  
}
.features .list-food .food-images{
  width: 217px;
}
.features .list-food .list-food-title{
  list-style-type: none;
  display:flex ;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;

  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 0;
}
.features .list-food .food-block {
  background: white;
  width: 200px;
  border-radius: 8px;
  margin: 10px;
}
.features .discount{
  display: flex;
  margin-top: 16px;
  margin-bottom: 32px;
}
.features .discount img{
  margin:10px;
}
.features .list-food .list-food-title li {
  text-align: left;
  margin: 5px;
}
.features .list-food .list-food-title li span{
  font-weight: 700;
  vertical-align: middle;
  font-size: 28px;
  margin: 5px;
}
.features .list-food .list-food-title li a{
  vertical-align: middle;
  font-size: 16px;
  margin-right: 12px;
  color:var(--primary-color);
  text-decoration: none;
}

.features .list-food .list-food-title li img{  
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}
.first-col {
  -ms-grid-column: 1;
  grid-column: 1;
}

.second-col {
  -ms-grid-column: 2;
  grid-column: 2;
}

.third-col {
  -ms-grid-column: 3;
  grid-column: 3;
}

.fourth-col {
  -ms-grid-column: 4;
  grid-column: 4;
}

.fifth-col {
  -ms-grid-column: 5;
  grid-column: 5;
}

.service {
  margin-top: 1990px;
  padding: 40px 360px 80px 360px;
  background: linear-gradient(0deg, #947917 0%, #31290b 100%);
}

.service-title {
  color: var(--primary-color);
  text-align: center;
}

.service-show {
  display: grid;
  grid-template-columns: repeat(4, 282px);
  gap: 24px;
}

.service-content {
  padding: 255px 20px 24px 20px;
  color: white;
}

.service-content .service-name {
  margin: 12px 0;
}

.service-content .service-short-desc {
  margin-top: 0;
  font-size: 14px;
  height: 65px;
}

.service-content .service-detail-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 4px;
  width: 120px;
  height: 32px;
  cursor: pointer;
}

#thiet-ke-tiec-cuoi {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(14.06%, rgba(0, 0, 0, 0)), color-stop(67.71%, rgba(0, 0, 0, 0.9))), url("../asset/thiet-ke-tiec-cuoi.png");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.06%, rgba(0, 0, 0, 0.9) 67.71%), url("img/thiet-ke-tiec-cuoi.png");
}

#ban-gallery {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14.06%, rgba(0, 0, 0, 0)), color-stop(67.71%, rgba(0, 0, 0, 0.9))), url("../asset/ban-gallery.png");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.06%, rgba(0, 0, 0, 0.9) 67.71%), url("img/ban-gallery.png");
}

#trang-tri-hoa-cuoi {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14.06%, rgba(0, 0, 0, 0)), color-stop(67.71%, rgba(0, 0, 0, 0.9))), url("../asset/trang-tri-hoa-tuoi.png");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.06%, rgba(0, 0, 0, 0.9) 67.71%), url("IMG/trang-tri-hoa-tuoi.png");
}

#chup-anh-cuoi {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14.06%, rgba(0, 0, 0, 0)), color-stop(67.71%, rgba(0, 0, 0, 0.9))), url("../asset/chup-anh-cuoi.png");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.06%, rgba(0, 0, 0, 0.9) 67.71%), url("IMG/chup-anh-cuoi.png");
}

.video{
  padding: 24px 320px;
  background: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.video .video-carousel{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 24px;
}
.video .video-show{
  text-align: center;
}
.video .video-show a{
  text-decoration: none;
  color: white;
}
.video .video-icon-merge{
  position: relative;
}
.video .video-icon-merge:hover {
  cursor: pointer;
}
.video .video-icon-merge .play-icon{
  text-align: center;
  position: absolute;
  top: 41px;
  left: 78px;
}

footer .container{
  background: #262626;
  color: white;
  padding: 64px 360px;
  gap: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
footer .container .HP-GROUP{
  min-width: 432px;
  flex: 1;
}
footer .container .HP-GROUP p{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

footer .support{
  list-style-type: none;
  min-width: 152px;
  margin:0 30px;
  flex: 0.5;
}
footer .support h4{
  color:white;vertical-align: top;
}
footer .support .list-service{
  text-align: left;

}
footer .support .list-service li {
  margin: 8px 0;
}
footer .support .list-service li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);

}
footer .contact{
  flex:2;
  min-width: 700px;
  list-style-type: none;
}
footer .contact .group li p{
  color: rgba(255, 255, 255, 0.7);
}
footer .contact .group{
  display:flex;
  gap:14px
}


.copyright{
  background-color: #111111;
  padding: 8px;
  display: flex;
  justify-content: center;
}
.copyright p{
  color: white;
}